{% extends "notes/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}


<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h4>

        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
      </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 border rounded p-3 mx-auto">
            <form action="{% url "home" %}" method="POST" id="note_form">
                <p id="note-message"></p>
                {% csrf_token %}
                    <h4> Add your Note  Here!</h4>
                {{form | crispy}}
                <input type="submit" class="btn btn-sm btn-success p-2" name="" value="submit" id="">
            </form>
            
     
        </div>
        <div class="col-lg-8">
           
            <table class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> {% endcomment %}


<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>
    {% comment %} rendering the model data into the templates file..... {% endcomment %}

    $(document).ready( function () {
        $('#myTable').DataTable();
    } );



    {% comment %} Sendiing data to model {% endcomment %}
    $(document).ready(function(){
        $("#note_form").submit(function(e){
            e.preventDefault();
            var form = $(this);
            var formData = form.serialize();
            // Extract CSRF token from the form
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    
            // Add CSRF token to the form data
            formData += '&csrfmiddlewaretoken=' + csrfToken;
            
            $.ajax({
                type: form.attr('method'), // Changed 'type' to 'method' to get the form's method
                url: form.attr('action'),
                data: formData, // Fixed the parentheses here
                success: function(response) {
                    $('#note-message').text(response.message); // Corrected console.log syntax
                    $('#note-message').addClass('bg-success');
                    $('#note-message').addClass('p-2');
                    form.trigger('reset');
                },
                error: function(xhr, status, error) {
                    console.log(error); // Log any errors for debugging
                }
            });
        });
    });
    
</script>

{% endblock body %}



